<div class="container">
  <div class="card mb-3 jobs">
    <div class="row g-0">
      <div class="col-md-2 img-job">
        <img src="../../../assets/images/account.svg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-5 jobs-text">
        <div class="card-body description-job">
          <h5 class="card-title">Photosnap</h5>
          <p class="card-text subtitle-job">Senior Frontend Developer</p>
          <p class="card-text"><small class="text-muted">1d ago - Full Time - USA only</small></p>
        </div>
      </div>
      <div class="col-md-5 div-botoes">
        <div class="card-body botoes">
          <button>Frontend</button>
          <button>Senior</button>
          <button>HTML</button>
          <button>CSS</button>
          <button>Javascript</button>
        </div>
      </div>
    </div>
  </div>
</div>
